$darkcyan: hsl(185, 75%, 39%);
$verydarkdesaturatedblue: hsl(229, 23%, 23%);
$darkgrayishblue: hsl(227, 10%, 46%);
$darkgray: hsl(0, 0%, 59%);
$lightgray: hsl(0, 0%, 90%);
$white: hsl(0,0,100%);

$background1: url('../images/bg-pattern-top.svg') top -150px left -150px/400px no-repeat;